

<div class="courses">
  <div class="section_background parallax-window" data-parallax="scroll" data-image-src="/photosGST/theme1.jpg" data-speed="0.8"></div>
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="section_title_container text-center">
                  <h2 class="section_title">S'authentifier </h2>

              </div>
          </div>
      </div>


  </div>
</div>



<div class="counter" style="margin-top: 100px;" >
  <div class="counter_background" style="background-image:url(assets/photosGST/intro11.jpg)"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="counter_content">
          <h2 class="counter_title">Connectez-vous à votre espace</h2>
          <div class="counter_text"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>

          <!-- Milestones -->

          <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

            <!-- Milestone -->
            <div class="milestone">
              <div class="milestone_counter" data-end-value="15"></div>
              <div class="milestone_text"></div>
            </div>



          </div>
        </div>

      </div>
    </div>
     <br>
     <br>
    <div class="counter_form"  >
      <div class="row fill_height">
        <div class="col fill_height">
          <form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
            <div class="counter_form_title">Se connecter</div>
            <input type="text" class="counter_input" placeholder="Email :" required="required">
            <input type="tel" class="counter_input" placeholder="Mot de passe:" required="required">
            <div> <a href=""> Mot de passe oublié ?</a></div>

            <button type="submit" class="counter_form_button">Se connecter </button>
            <br>
            <div> <a href=""style="font-size: 20px;" >  Vous n'avez pas de compte ? Créez-un</a></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
