

<div class="courses">
  <div class="section_background parallax-window" data-parallax="scroll" data-image-src="/photosGST/theme1.jpg" data-speed="0.8"></div>
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="section_title_container text-center">
                  <h2 class="section_title">Contactez-nous </h2>

              </div>
          </div>
      </div>


  </div>
</div>



<div class="counter" style="margin-top: 100px;" >
  <div class="counter_background" style="background-image:url(assets/photosGST/intro11.jpg)"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="counter_content">
          <h2 class="counter_title">Contactez-nous</h2>
          <div class="counter_text"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>

          <!-- Milestones -->

          <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

            <!-- Milestone -->
            <div class="milestone">

              <div class="milestone_text">Adresse :</div>
              <div class="milestone_text">Email :</div>
              <div class="milestone_text">Téléphone :</div>
            </div>




          </div>
        </div>

      </div>
    </div>
     <br>
     <br>
    <div class="counter_form"  >
      <div class="row fill_height">
        <div class="col fill_height">
          <form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
            <div class="counter_form_title">Contacter nous </div>
            <input type="text" class="counter_input" placeholder="Nom " required="required">
            <input type="text" class="counter_input" placeholder="Prénom" required="required">
            <input type="email" class="counter_input" placeholder="Email" required="required">
            <input type="tel" class="counter_input" placeholder="Sujet" required="required">
            <textarea class="counter_input counter_text_input" placeholder="Message:" required="required"></textarea>
            <button type="submit" class="counter_form_button">Envoyer</button>
            <br>
            <br>
            <br>
        </form>
        </div>
      </div>
    </div>

  </div>
</div>
<aside> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50793.448185455105!2d9.826484701000247!3d37.281136286488575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e31e4db2105f13%3A0xf44361a00609c69e!2sBizerte!5e0!3m2!1sfr!2stn!4v1638631674019!5m2!1sfr!2stn" width="100%" height="340" style="border:0;" allowfullscreen="" loading="lazy"></iframe></aside>
